/* General */
* {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
} 
body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 156px;
  margin: 0 auto;
}
.header {
  min-height: 500px;
  background-color: #4694DC;
  color: #fff;
  padding-top: 82px;
  padding-bottom: 82px;
  font-family:'Montserrat', sans-serif;
}
.header_title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 35px;
}
.header_text {
  font-family:'Montserrat', sans-serif;
  font-style: 16px;
  max-width: 437px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 50px;
}
.button_header {
  width: 194px;
  height: 60px;
  font-family:'Montserrat', sans-serif;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
}
/* Block */
.block {
  text-align: center;
  margin-bottom: 118px;
}
.block_title {
  font-weight: normal;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  margin-bottom: 25px;
}
.block_text {
  font-size: 16px;
  letter-spacing: 0.52px;
  font-weight: 400;
  max-width: 465px;
  line-height: 24px;
  color: #9CA3AF;
  margin: 0 auto;
  margin-bottom: 81px;
}

/* Service */
.service {
  text-align: center;
  margin-bottom: 50px;
}
.service {
  padding: 90px 0 133px;
}
.service_items {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  max-width: 888px;
  margin: 0 auto;
}
.item {
  width: 280px;
  height: 116px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 70px 0px rgba(91,93,99,0.06);
}
.service_items_title {
  font-size: 16px;
  font-weight: normal;
  color: #9CA3AF;
}


/* Teem */
.teem {
  padding-bottom: 130px;
}
.member_items {
  display: flex;
  max-width: 880px;
  gap: 50px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 260px;
  width: 100%;
}
.items {
  display: flex;
  background-color: #fff;
  border-radius: 11px;
  align-items: center;
  padding: 20px;
}
.pon {
  align-self: center;
  margin-right: 8px;
}
.name {
  font-size: 12px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 3px;
}
.discipline {
  font-size: 11px;
  font-style: italic;
  color: #9CA3AF;
  margin-top: 0px;
  font-weight: 100;
}


/* Media */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 510px) {
  .header_title {
    font-size: 30px;
  }
  .service_items {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1366px) {
  .teem .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1024px) {
  .member_items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}